<!doctype html>
<html lang="en">

<head>
    <title>The Baketer: Order Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- internal CSS files -->
    <!-- <link rel="stylesheet" href="./Css/Style.css">
    <link rel="stylesheet" href="./Css/adistyle.css"> -->
    <link rel="stylesheet" href="../static/stylesheets/Home.css">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <header class="header1">
        <h5>Since 2020</h5>

    </header>

    <header class="header2">
        <nav class="navbar">
            <div class="container">

                <img src="../static/Images/Logo2.png" alt="The Bakester Logo">

                <ul class="nav-items">
                    <li class="nav-item"><a href="http://127.0.0.1:5000/Home" method="get">Home</a></li>
                    <li class="nav-item"><a href="http://127.0.0.1:5000/Menu" method="get">Menu</a></li>
                    <li class="nav-item"><a href="http://127.0.0.1:5000/About" method="get">About</a></li>
                    <li class="nav-item"><a href="http://127.0.0.1:5000/Contact" method="get">Contact</a></li>

                </ul>

            </div>
        </nav>

    </header>






    <div class="container menu">
        <div class="row menu-row">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Order_ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Customer_ID</th>
                    <th scope="col">Product_ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">BillAmount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.order_id }}</th>
                            <td>{{ order.date }}</td>
                            <td>{{ order.customer_id }}</td>
                            <td>{{ order.product_id }}</td>
                            <td>{{ order.description }}</td>
                            <td>{{ order.billamount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
        <div class="row menu-row">
           
    <form action="http://127.0.0.1:5000/oms" method = "POST">
        <div class="form-group row">
          <label for="order_id">Order_ID</label>
          <input type="number" class="form-control" name="order_id" id="order_id">
        </div>
        <div class="form-group row">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" id="date">
        </div>
        <div class="form-group row">
            <label for="customer_id">Customer_ID</label>
            <input type="number" class="form-control" name="customer_id" id="customer_id">
        </div>
        <div class="form-group row">
            <label for="product_id">Product_ID</label>
            <input type="text" class="form-control" name="product_id" id="product_id">
        </div>
        <div class="form-group row">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="form-group row">
            <label for="billamount">BillAmount</label>
            <input type="number" class="form-control" name="billamount" id="billamount">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
        </div>
        
    </div>






    <!-- ----------- footer ----------- -->

    <footer class=" footer1">
        <h1 class="swing "> Swing By Soon !</h1>

        <section class="footer-acm container">
            <img class="address" src="../static/Images/swing3.png" alt="">
            <img class="mobile" src="../static/Images/swing4.png" alt="">
            <img class="mail" src="../static/Images/swing 1.png" alt="">
        </section>
    </footer>

    <footer class="footer2 ">
        <div class="sm-links container">


            <h2> Follow us on :</h2>
            <a href=""><img src="../static/Images/instagram.png" alt=""></a>
            <a href=""><img src="../static/Images/facebook.png" alt=""></a>
            <a href=""><img src="../static/Images/twitter.png" alt=""></a>
            <a href=""><img src="../static/Images/pngwing.com.png" alt=""></a>
            <a href=""><img src="../static/Images/linkedin.png" alt=""></a>

        </div>

        <h2 class="tbipl"> © 2022 The Bakester india PVT.Ltd </h2>


    </footer>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>