<!doctype html>
<html lang="en">

<head>
  <title>The Baketer: Order Management</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- internal CSS files -->
  <!-- <link rel="stylesheet" href="./Css/Style.css">
    <link rel="stylesheet" href="./Css/adistyle.css"> -->
  <link rel="stylesheet" href="../static/stylesheets/Home.css">
  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
  <header class="header1">
    <h5>Since 2020</h5>

  </header>

  <header class="header2">
    <nav class="navbar">
      <div class="container">

        <a href="http://127.0.0.1:5000/" method="get"></a><img src="../static/Images/Logo2.png" alt="The Bakester Logo"></a>

        <ul class="nav-items">
          <li class="nav-item"><a href="http://127.0.0.1:5000/Home" method="get">Home</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/Menu" method="get">Menu</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/place_order" method="get">Order Now</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/About" method="get">About</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/Contact" method="get">Contact</a></li>

        </ul>

      </div>
    </nav>

  </header>






  <div class="container menu">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSe_fIWIJMOawmXObL2gMYvDoDVe_sd0g90_3hA644l3OWmedg/viewform?embedded=true"
      width="1200" height="952" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

  </div>






  <!-- ----------- footer ----------- -->

  <footer class=" footer1">
    <h1 class="swing "> Swing By Soon !</h1>

    <section class="footer-acm container">
      <img class="address" src="../static/Images/swing3.png" alt="">
      <img class="mobile" src="../static/Images/swing4.png" alt="">
      <img class="mail" src="../static/Images/swing 1.png" alt="">
    </section>
  </footer>

  <footer class="footer2 ">
    <div class="sm-links container">


      <h2> Follow us on :</h2>
      <a href=""><img src="../static/Images/instagram.png" alt=""></a>
      <a href=""><img src="../static/Images/facebook.png" alt=""></a>
      <a href=""><img src="../static/Images/twitter.png" alt=""></a>
      <a href=""><img src="../static/Images/pngwing.com.png" alt=""></a>
      <a href=""><img src="../static/Images/linkedin.png" alt=""></a>

    </div>

    <h2 class="tbipl"> © 2022 The Bakester india PVT.Ltd </h2>


  </footer>


  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
</body>

</html>